@import url('https://fonts.googleapis.com/css?family=Kodchasan');
@import url('https://fonts.googleapis.com/css?family=Patrick Hand');

html {
    text-align: center;
    font-family: Kodchasan, Helvetica, Arial, sans-serif;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

label,
span {
    color: white;
    text-shadow: 2px 2px 2px black;
}

button {
    font-family: Kodchasan, Helvetica, Arial, sans-serif;
    box-shadow: 1px 1px 2px black;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 3rem 7rem;

}

li {
    width: 2rem;
    padding: 0rem 2rem;
    box-shadow: 2px 2px 2px white;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    margin: 1rem 0.5rem;
    border-radius: 50%;
    text-shadow: 2px 2px 2px black;
    font-family: Kodchasan, Helvetica, Arial, sans-serif;
}

.display {
    display: none;
}

div {

    padding: 3rem 0;
}

ul .Message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    background-position: center;
    font-family: Kodchasan, Helvetica, Arial, sans-serif;
}

header {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 3vw;
}

@media (max-width: 599px) {

    header {
        font-size: 6vw;

    }

    html {
        font-family: "Patrick Hand", Helvetica, Arial, sans-serif;
        background-image: url(../img/img2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    ul .Message {
        font-family: "Patrick Hand", Helvetica, Arial, sans-serif;
    }

    li {
        font-family: "Patrick Hand", Helvetica, Arial, sans-serif;
    }

    button {
        font-family: "Patrick Hand", Helvetica, Arial, sans-serif;
    }
}
